
Theme: THEME - DEVELOPMENT 
Link for test: https://aromatechscent.com/collections/scent-diffusers/?preview_theme_id=120156717187 
Branch: 1200868623419938-category-style-updates 
RP: https://github.com/techsupportananchenko/atechus/pull/17

Notes for QA:
Добавил функцию подсчета
Добавил стили для карточки товара